<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ЮЗЕРЫ</title>
</head>
<body>
<table>
    <tr>
        <th>id</th>
        <th>Пользователь</th>
        <th>Пароли</th>
        <th></th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:utext="${user.getId()}">id</td>
        <td th:utext="${user.getUsername()}">username</td>
        <td th:utext="${user.getPassword()}">password</td>
        <td><a th:href="@{/admin/{id}/edit(id=${user.getId()})}">Редактировать</a></td>
        <td><form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}"><input type="submit" value="delete"/></form></td>

    </tr>

</table>
<br>
<hr>
<a th:href="@{/admin/new}">Добавить нового юзера</a>

<br>
<br>
<form th:action="@{/logout}" method="post">
    <button type="submit">Log Out</button>
</form>
</body>
</html>