<!Doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"><meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin page</title>
</head>
<body>
<header>
    <!-- навигация -->
    <nav class="navbar navbar-expand-xl navbar-dark text-white bg-dark">

        <div class="container-fluid">
            <div class="collapse navbar-collapse show" id="navbarDark">
                <ul class="navbar-nav me-auto mb-2 mb-xl-0">
                    <span class="align-middle font-weight-bold mr-1" sec:authentication="name"></span>
                    <span class="align-middle mr-1">with roles:</span>
                    <div class="align-middle" sec:authorize="hasAuthority('ROLE_ADMIN')">ADMIN</div>
                    <div class="align-middle" sec:authorize="hasAuthority('ROLE_USER')">USER</div>
                </ul>
            </div>

            <form th:action="@{/logout}" method="post">
                <button type="submit" class="btn btn-dark text-secondary">Logout</button>
            </form>

        </div>
    </nav>
</header>

<!--Основной контент страницы-->

<div class="container-fluid">
    <div class="row">

        <!--Панель слева-->

        <div class="col-2" style="padding: 0; padding-top: 15px">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#adminPanel">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#userPanel">User</a>
                </li>
            </ul>
        </div>

        <!--Панель справа-->

        <div class="col-10 bg-light">
            <div class="tab-content" style="padding-top: 15px; height: 100vh">

                <!--Панель админа-->

                <div class="tab-pane fade show active" id="adminPanel">
                    <h2>Admin panel</h2>
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" id="allUsersTable" href="#allUsers">Users table</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#newUser">New User</a>
                        </li>
                    </ul>
                    <div class="tab-content">

                        <!--Таблица пользователей-->

                        <div class="tab-pane fade show active" id="allUsers">
                            <div class="card">
                                <h5 class="card-header">All users</h5>
                                <div class="card-body text-center">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Username</th>
                                            <th>Last Name</th>
                                            <th>Age</th>
                                            <th>Email</th>
                                            <th>Role</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody id="tbodyAllUserTable">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>


                        <!--Вкладка для нового пользователя-->

                        <div class="tab-pane fade" id="newUser">
                            <div class="form-group">
                                <div class="control-group required">
                                    <div class="card">
                                        <h5 class="card-header">Add new user</h5>
                                        <div class="card-body text-center">
                                            <div class="form justify-content-center mx-auto col-5">
                                                <form id="formNewUser" name="formNewUser">
                                                    <p>
                                                        <label class="container-fluid" for="newUserName"><strong>Username</strong>
                                                            <input class="form-control" type="text" name="username"
                                                                   id="newUserName"/>
                                                        </label>
                                                    </p>
                                                    <p>
                                                        <label class="container-fluid" for="newUserLastName"><strong>Last name</strong>
                                                            <input class="form-control" type="text" name="secondName"
                                                                   id="newUserLastName"/>
                                                        </label>
                                                    </p>

                                                    <p>
                                                        <label class="container-fluid"
                                                               for="newUserAge"><strong>Age</strong>
                                                            <input class="form-control" type="number" name="age"
                                                                   id="newUserAge"/>
                                                        </label>
                                                    </p>


                                                    <p>
                                                        <label class="container-fluid"
                                                               for="newUserEmail"><strong>Email</strong>
                                                            <input class="form-control" type="email" name="email"
                                                                   id="newUserEmail"/>
                                                        </label>
                                                    </p>
                                                    <p>
                                                        <label class="container-fluid" for="newUserPassword"><strong>Password</strong>
                                                            <input class="form-control" type="password" name="password" required minlength="3"
                                                                   id="newUserPassword"/>
                                                        </label>
                                                    </p>
                                                    <label class="container-fluid"
                                                           for="newUserRoles"><strong>Role</strong>
                                                        <select id="newUserRoles" class="form-control" name="roles"
                                                                multiple size="2">

                                                        </select>
                                                    </label>
                                                    <button type="submit" id="newUserButton" class="btn btn-success">Add
                                                        new user
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Панель пользователя-->

                <div class="tab-pane fade" id="userPanel">
                    <h2>User information-page</h2>
                    <div class="card">
                        <h5 class="card-header">About user</h5>
                        <div class="card-body text-center">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Username</th>
                                    <th>Last Name</th>
                                    <th>Age</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                </tr>
                                </thead>
                                <tbody id="userPanelBody">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Модальное окно редактирования пользователя-->

<div class="modal fade" id="edit" tabindex="-1" role="dialog"
     aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="formEditUser">
                <div class="modal-header">
                    <h5 class="modal-title">Edit user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <div class="form-group required">
                        <div class="controls">
                            <p>
                                <label for="idEditUser"><strong>ID</strong>
                                    <input class="form-control" type="number" name="id" id="idEditUser" disabled/>
                                </label>
                            </p>
                            <p>
                                <label for="firstNameEditUser"><strong>Username</strong>
                                    <input class="form-control" type="text" name="username" id="firstNameEditUser" />
                                </label>
                            </p>
                            <p>
                                <label for="lastNameEditUser"><strong>Last name</strong>
                                    <input class="form-control" type="text" name="secondName" id="lastNameEditUser" />
                                </label>
                            </p>

                            <p>
                                <label for="ageEditUser"><strong>Age</strong>
                                    <input class="form-control" type="number" name="age" id="ageEditUser"/>
                                </label>
                            </p>
                            <p>


                            <p>
                                <label for="emailEditUser"><strong>Email</strong>
                                    <input class="form-control" type="email" name="email" id="emailEditUser" />
                                </label>
                            </p>
                            <p>
                                <label for="passwordEditUser"><strong>Password</strong>
                                    <input class="form-control" type="password" name="password" id="passwordEditUser" required minlength="3" />
                                </label>
                            </p>
                            <label class="container-fluid col-6" for="rolesEditUser"><strong>Role</strong>
                                <select class="form-control" id="rolesEditUser" name="roles" multiple size="2">

                                </select>
                            </label>
                            <h1></h1>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="editFormCloseButton" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Edit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!--Модальное окно удаления пользователя-->

<div class="modal fade" id="delete" tabindex="-1" role="dialog"
     aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="formDeleteUser">
                <div class="modal-header">
                    <h5 class="modal-title">Delete user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <div class="form-group required">
                        <div class="controls">
                            <p>
                                <label for="idDeleteUser"><strong>ID</strong>
                                    <input class="form-control" type="number" name="id" id="idDeleteUser" disabled>
                                </label>
                            </p>
                            <p>
                                <label for="firstNameDeleteUser"><strong>Username</strong>
                                    <input class="form-control" type="text" name="username" id="firstNameDeleteUser" disabled>
                                </label>
                            </p>
                            <p>
                                <label for="lastNameDeleteUser"><strong>Last name</strong>
                                    <input class="form-control" type="text" name="secondName" id="lastNameDeleteUser" disabled>
                                </label>
                            </p>

                            <p>
                                <label for="ageDeleteUser"><strong>Age</strong>
                                    <input class="form-control" type="text" name="age" id="ageDeleteUser" disabled>
                                </label>
                            </p>

                            <p>
                                <label for="emailDeleteUser"><strong>Email</strong>
                                    <input class="form-control" type="email" name="email" id="emailDeleteUser" disabled>
                                </label>
                            </p>
                            <label class="container-fluid col-6" for="rolesDeleteUser"><strong>Role</strong>
                                <select class="form-control" id="rolesDeleteUser" name="roles" multiple size="2" disabled>

                                </select>
                            </label>
                            <h1></h1>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="deleteFormCloseButton" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-danger btn btn-primary">Delete</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


<script type="text/javascript" src="AddUser.js"></script>
<script type="text/javascript" src="AllUsers.js"></script>
<script type="text/javascript" src="DeleteModal.js"></script>
<script type="text/javascript" src="DeleteUser.js"></script>
<script type="text/javascript" src="EditModal.js"></script>
<script type="text/javascript" src="EditUser.js"></script>
<script type="text/javascript" src="UserPage.js"></script>
</body>
</html>
