<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head><meta charset="UTF-8">
    <title>Добавить нового юзера</title>
</head>
<form th:method="POST" th:action="@{/admin}">
    <label for="username"> username </label>
    <input name="username" type="text" id="username"/>
    <br>
    <label for="password"> password </label>
    <input name="password" type="text" id="password"/>
    <br>
    <input type="submit" value="Добавить"/>
</form>

<form th:action="@{/logout}" method="post">
    <button type="submit">Log Out</button>
</form>

</html>

